# Ignore compiled Python files
*.pyc
*.DS_Store
*__pycache__
*cache

# Ignore virtual environment directories
venv/
env/

# Ignore data files
src/data/ 
src/main/network_matching/output/
src/main/network_matching/results/
src/main/resampling_mfd/results/
src/main/resampling_mfd/output/
src/main/visualisation/results/

